@media screen and (min-width: 1024px) {



    .block-home {
        display: flex;
    width: 94%;
    height: 920px;
    border-radius: 20px;
    border: 2px solid #08394a;
    margin: 0 auto;
    margin-top: 30px;
    color: #08394a;
    background-color: #fff;
    flex-direction: column;
    flex-wrap: nowrap;
    }
    .header-home {
        display: flex;
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        height: 100px;
        background-color: #fff;
        color: #08394a;
        border-bottom: 2px solid #08394a;
        padding-bottom: 10px;
        justify-content: space-between;

       
    }
    @media screen and (min-width: 1110px) {
        .header-home {
            width: 90%;
        }

    }
    .header-section-home {
        display: flex;
        align-items: center;
    }
    .header-item-logo-home {
        margin: 10px;
        cursor: default;
    }
    .header-item-home a {
        padding: 5px 10px;
        margin-left: 5px;
        font-size: 15px;
        font-weight: 500;
        transition: 0.3s;
        color: black;
        line-height: initial;
   
    }
    .header-item-home a:last-of-type{
        margin-right: 5px;
    }
    .header-item-home a:hover {
        width: 25px;
        color: #50b964;
    }
    .header-item-home:active {
        transform: scale(0.9);
        transition: 0.3s;
    }
    .headre-button-home {
        cursor: pointer;
    }

    .logo-header-home {
        width: 100%;
        height: auto;
    }
    
    .section-group{
        display: flex;
        margin-top: 100px;
        
    }

    .img-home{
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .section-l{
        width: 70%;
        margin-left: 20px;
        
    }
    section-r{
        width: 30%;
        margin-left: 15px;
        margin-right: 15px;
    }
    .block-min-logo{
        width: 100px;
        text-align: center;
        padding: 8px 16px;
        margin-bottom: 30px;
        font-size: 19px;
        border: 2px solid #08394a;
        border-radius: 36px;
        font-weight: 600;

    }
    .title{
        width: 100%;
        font-size: 54px;
        font-weight: 700;
    }
    .green{
        color: #50b964;
    }
    .title-h5{
        font-size: 22px;
        width: 100%;
    }
    
}

